[Desktop Entry]
Encoding=UTF-8
Name=Link to  lab0B.c 
Type=Link
URL=https://eclass.yorku.ca/mod/assign/view.php?id=3402402&action=editsubmission#
Icon=text-html
